<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="perform.android.com.perform">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="perform.android.com.perform.view.ViewActivity"
            android:launchMode="singleTop" />
        <service android:name="perform.android.com.perform.CheckService" />
    </application>

</manifest>